:root {
    --dimesioni-contenitore-1200: 1200px;
    --dimensioni-contenitore-1000: 1000px;
}

/* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box 
}

/* ! Utility */

/* Tipo di carattere */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Imaggini */
img {
    max-width: 100%;
    display: block;
}

/* Tutti i Link tranne .tex-line */
a:not(.text-line) {
    text-decoration: none;
    text-align: center;
}

.text-line {
    display: inline-block;
    color: #8881F2;
}

/* Tutte le liste senza punto */
ul {
    list-style: none;
}

/* Elementi con flex */
.flex {
    display: flex;
}

/* Link sfondo Blu */
.back-blu {
    background-color: #0061FF;
    color: #FFFFFF;
}

/* Dimensione degli H1*/
h1 {
    font-size: 60px;
    padding-right: 80px;
}

/* Dimensioni degli H2 */
h2 {
    font-size: 35px;
}

/* Colore check */
.color-check {
    color: #0061FF;
}

/* ? Inzio */

/* Header fisso */
header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}

/* Disposizione della Navabar */
.navbar {
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 2px 5px #858585;
}

/* Spazio Tra gli elementi */
.navbar ul {
    display: flex;
    gap: 30px;
}

/*Link blu della navbar */
.navbar .back-blu {
    padding: 5px 10px ;
}

/* Tutti i Link con lo stesso colore TRANNE .back-blu */
.navbar a:not(.back-blu) {
    color:#858585;
}

/* Sezione Need */
.everything-need {
    align-items: center;
    justify-content: center;
    background-color: #B4D0E7;
    text-align: start;
}

/* Dimensioni del contenitore 1200px */
.son-container-need {
    width: var(--dimesioni-contenitore-1200);
    position: relative;
    top: 60px;
    left: 0;
    padding-left: 3%;
}

/* Contenitore dei contenuti di w-40 e w-60*/
.box-jumbo {
    margin-top: 50px;
}

/* Dimensione del contenitore .w-40 */
.w-40 {
    width: 35%;
    padding-right: 60px;
}

/* Modifico solo le Icone che sono dentro a w-40 */
.w-40 i {
    margin-top: 50px;
}

/* Modifico tutti i Paragrafi tranne .text-none e solo i Link che sono dentro a w-40 */
.w-40 a,p:not(.text-none) {
    margin: 20px 0;
}

/* Paragrafo dentro */
.team-secondary p {
    margin-top: 50px;
}

/* Dimensione del contenitore .w-60 */
.w-60 {
    width: 65%;
}

/* Immagine dentro w-60 */
.w-60 img {
    height: 390px;
}

/* Sezione subscription */
.subscription {
    align-items: center;
    justify-content: center;
    padding-top: 130px;
}

/* Dimensioni del contenitore 1000px */
.container-subscription {
    width: var(--dimensioni-contenitore-1000);
}

/* Contenitore del titolo e dei input radio */
.title-plans {
    text-align: start;
}

/* Contenitore dei input radio */
.box-input {
    margin-top: 50px;
}

/* Opzione 1 */
#opzione1 {
    margin-bottom: 30px;
}

/* Opzione 2 */
#opzione2 {
    margin-left: 30px;
}

/* Contanitore dei vari paini */
.pricing-plans {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 40px;
}

/* Piani */
.price-card {
	flex-basis: calc(100% / 3 - 80px / 3);
	border: 0.5px solid #858585;
}

.price-card:last-child {
	flex-basis: 100%;
}

/* Bordo dei contenuti */
.box-border {
    margin-top: 40px;
    margin: 10px;
    padding-bottom: 25px;
}

/* Contenitore dei titoli dei piani */
.title-container {
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #858585;
    padding: 10px 0px;
}

/* Sposto il titolo dal simbolo */
.title-container h5 {
    margin-left: 5px;
}

/* Anno del piano */
.anno {
    display: block;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 25px;
}

/* Piccola righetta */
.dash {
    height: 1px;
    width: 5px;
    background-color: #858585;
    margin-top: 20px;
    margin-bottom: 62px;
}

/* Il contenitore dei contenuti */
.container-padding {
    padding: 0 30px;
    padding-top: 20px;
}

/* H3 e H4 dentro */
.container-padding h3, h4 {
    margin-bottom: 15px;
}

/* Liste dentro */
.container-padding li {
    padding: 10px 0px;
}

/* Link dentro */
.container-padding i {
    padding-right: 5px;
}

/* Spazio lista Utenti */
.space {
    margin: 30px 0px;
}

/* Link in centro */
.container-padding a:not(.text-line),
.son-container-need a {
    justify-content: center;
    padding: 10px 15px;
}

/* Dimensioni righetta-x10 */
.dash-x10 {
    height: 2px;
    width: 60px;
    background-color: #DCDCDE;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Dimensione dei contenuti del .team-secondary */
.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
    text-align: end;
}

/* Sezione parther */
.parther-dropbox {
    justify-content: center;
    align-items: center;
}

/* Dimensione del contenitore della sezione parther */
.container-parther {
    width: var(--dimensioni-contenitore-1000);
    margin-top: 100px;
}

/* Dimensioni contenitore immagine */ 
.w-65 {
    width: 65%;
}

/* Dimensioni immagine */
.w-65 img {
    height: 90%;
    width: 90%;
}

/* Dimensioni contenitore */ 
.w-35 {
    width: 35%;
    text-align: start;
    padding: 50px 0px;
    margin-top: 10px;
}

/* Dimensioni del H3 dentro */
.container-parther h3 {
    font-size: 25px;
}

/* Link dentro */
.container-parther a {
    border:2px solid #858585;
    padding: 10px 15px ;
    color: #858585;
    display: inline-block;
    margin-top: 20px;
}

/* Sezione Operations */
.row-operations {
    width: var(--dimensioni-contenitore-1000);
    margin: 70px auto;
    flex-wrap: wrap;
}

/* Percentuale del contenitore su una riga */
.row-operations .col {
    width: calc(100% / 3);
    padding: 3px;
}

/* H3 dentro */
.col h3 {
    margin-top: 20px;
}

/* Contenitore Grande del titolo */
.full-col {
    margin-bottom: 30px;
    flex-basis: 100%;
}

/* Contenitore dei clienti che utilizzano Dropbox */
.items-clients {
    width: var(--dimensioni-contenitore-1000);
    margin: 70px auto;
}

/* H2 dentro */
.items-clients h2 {
    padding-right: 370px;
    margin-bottom: 50px;
}

/* Sezione Collaborators*/
.container-collaborators {
    margin-top: 50px;
}

/* immagini dentro alla Sezione Collaborators */
.container-collaborators img {
    display: block;
    max-width: 70%;
}

/* Contenitore Contenuti */
.collaboration-image {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* Immagini dentro */
.collaboration-image .col-image {
	flex-basis: calc(100% / 3 );
}

/* IMMgine dentro prende 100% */ 
.collaboration-image .full-col-image {
	flex-basis: 100%;
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

/* Contentore Immagini */
.plan-image {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    height: 450px;
}

/* Contenitore Figure dentro */
.plan-image figure {
	flex-basis: calc(100% / 2);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Firma */
address {
    font-style: normal;
    margin-top: 20px;
}

/* Contenitore del padding */
.pad-20 {
    padding: 20px;
}

/* Contenitore 1000px */
.box-1000 {
    width: var(--dimensioni-contenitore-1000);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dimensioni due Contenitore Dentro al box-1000 */
.title-brings {
    width: 60%;
    padding-right: 160px;
}

.link-brings {
    width: 40%;
}

/* H2 dentro */
.title-brings h2{
    font-size: 35px;
}

/* Link dentro */
.link-brings a {
    background-color: #FFFFFF;
    padding: 10px 40px;
    display: inline-block;
    color: #000000;
}

/* Colore Sfondi */
.color-A2D39B {
    background-color: #A2D39B;
}

.color-61082B {
    background-color: #61082B;
}

.color-0093CE {
    background-color: #0093CE ;
}

.color-FF1C1C {
    background-color: #FF1C1C;
}

.color-F5F5F5 {
    background-color: #F5F5F5;
}

.color-D5001F {
    background-color: #D5001F;
}

.color-B4D0E7 {
    background-color: #B4D0E7;
}

.color-0D2481 {
    background-color: #0D2481;
}

.color-FFD830 {
    background-color: #FFD830;
}

/* Sezione domande frequenti */
.container-requests {
    width: var(--dimensioni-contenitore-1000);
    margin: 100px auto;
    margin-top: 40px;
}

/* H2 dentro */
.container-requests h2 {
    margin-bottom: 50px
}

/* Liste dentro */
.container-requests li {
    padding: 30px 0px;
    border-top: 1px solid #858585;
}

/* Bordo dell'ultima Lista */
.border-bot {
    border-bottom: 1px solid #858585;
}

/* Icone */
.container-requests i {
    margin-left: 360px;
}

/* Footer */
footer {
    background-color: #000000;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

/* Contenitore elementi footer */
.container-footer {
    width: var(--dimesioni-contenitore-1200);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Contenitore contenuti */
.box {
    width: calc(100% / 5);
    color: #ffffff;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-left: 5%;
}

/* H3 dentro */
.box h3 {
    margin-bottom: 20px;
}

/* Link dentro */
.box a {
    color: #F8EFE1;
    margin: 10px 0px;
    display: inline-block;
}

/* Contenitore Tongue */
.tongue {
    width: var(--dimesioni-contenitore-1200);
    padding-left: 4%;
}

/* Icone dentro */
.tongue i {
    margin-right: 10px;
}

/* Link dentro */
.tongue a {
    color: #F8EFE1;
    border-top: 2px solid #F8EFE1;
    display: inline-block;
    padding: 50px 0px;
}

